<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="https://raw.githubusercontent.com/hernandito/unRAID-Docker-Folder-Animated-Icons---Alternate-Colors/master/Blue-Collection/blue-books5.svg">
</head>
<body class="login-body">
    <main>
        <div class="login-container">
            <h2>Access Denied</h2>
            <p>Only admins can perform this action.</p>
            <p><a href="{{ url_for('main.bookmarks') }}">Back to Home</a></p>
        </div>
    </main>
    {% include 'footer.html' %}
</html>
